<!DOCTYPE html>
<html>

<head>
  <title>Recursive Table Example</title>
  <!-- Vue 2 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- CSS -->
  <link href="tableStyle.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div class="container mt-5">
      <h3>API查詢：</h3>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" v-model="selectedAPI">
        <option value="default">選擇API</option>
        <option v-for="(option, index) in APIOptions" :key="index" :value="index">{{option.api}}</option>
      </select>
      <table class="table table-bordered" style="table-layout:fixed;word-break:break-all" v-if="APIData.length > 0">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>subTable</th>
          </tr>
        </thead>
        <tbody v-for="(item, index) in APIData">
            <tr :key="item.name">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td v-if="item.subTable.length > 0"><button class="btn btn-primary"
                  @click="handleClick(index, APIData)">顯示</button>
              </td>
              <td v-else>無</td>
            </tr>
            <tr :key="item.name + '-subtable'" v-if="item.subTable.length > 0 && item.display">
              <td :colspan="3">
                <sub-table :data="item.subTable" @handle-click="handleClick(index,APIData)" />
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    Vue.component('sub-table', {
      name: 'SubTable',
      template: `
      <table class="table table-bordered randomColor" style="table-layout:fixed;word-break:break-all">
         <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>subTable</th>
            </tr>
          </thead>
          <tbody v-for="(item, index) in data">
            <tr :key="item.name">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td v-if="item.subTable.length > 0"><button class="btn btn-primary"
                  @click="handleClick(index, data)">顯示</button>
              </td>
              <td v-else>無</td>
            </tr>
            <tr :key="item.name + '-subtable'" v-if="item.subTable.length > 0 && item.display">
              <td :colspan="3">
                <sub-table :data="item.subTable" @handle-click="handleClick(index,data)"/>
              </td>
            </tr>
          </tbody>
        </table>
      `,
      props: ['data'],
      methods: {
        handleClick(index, data) {
          this.$emit('handle-click', index, data);
        },
      },
      mounted() {
      }
    });

    new Vue({
      el: '#app',
      data: {
        selectedAPI: "default",
        APIOptions: [],
        APIData: [],
      },
      mounted() {
        this.fetchAPIData();
      },
      methods: {
        fetchAPIData() {
          axios.get('api.json')
            .then(response => {
              this.APIOptions = response.data
              if (this.selectedAPI !== "default") {
                this.APIData = response.data[this.selectedAPI].List;
              } else {
                this.APIData = []
              }
              console.log("APIData", this.APIData)

            })
            .catch(error => {
              console.error(error);
            });
        },
        handleClick(index, data) {
            console.log("index",index)
            console.log("data",data)
            data[index].display = !data[index].display
        },
      },
      watch: {
        selectedAPI(newVal, oldVal) {
          this.fetchAPIData();
        }
      }
    });
  </script>
</body>

</html>
