<!DOCTYPE html>
<html>

<head>
    <title>Recursive Table Example</title>
    <!-- Vue 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <!-- CSS -->
     <link href="tableStyle.css" rel="stylesheet"></script>
</head>
<body>
    <div id="app">
        <div class="container mt-5">
            <h3>eBank API22222查詢：</h3>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" v-model="selectedAPI">
                <option value="default">選擇API</option>
                <option v-for="(option, index) in APIOptions" :key="index" :value="index">{{option.api}}</option>
            </select>
            <div class="ms-5 mt-5" v-if="APIData.length > 0">
                <button class="btn btn-tap">上行</button>
                <button class="btn btn-tap">下行</button>
            </div>
            <table class="table table-bordered" style="table-layout:fixed;word-break:break-all"
                v-if="APIData.length > 0">
                <thead>
                    <tr>
                        <th>field</th>
                        <th>type</th>
                        <th>name</th>
                        <th>desc</th>
                        <th>regexp</th>
                        <th>message</th>
                        <th>nextListFieldData</th>
                    </tr>
                </thead>
                <tbody v-for="(item, index) in APIData">
                    <tr :key="item.name">
                        <td>{{ item.field }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.desc }}</td>
                        <td>{{ item.regexp }}</td>
                        <td>{{ item.message }}</td>
                        <td v-if="item.nextListFieldData.length > 0">
                            <button class="btn-extend" @click="handleClick(index)"></button>
                        </td>
                        <td v-else>無</td>
                    </tr>
                    <tr :key="item.name + '-subtable'" v-if="item.nextListFieldData.length > 0 && displayState[index]">
                        <td :colspan="7">
                            <sub-table :data="item.nextListFieldData" :display-state="displayState"
                                @handle-click="handleClick(index)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        Vue.component('sub-table', {
            name: 'SubTable',
            template: `
      <table class="table table-bordered randomColor" style="table-layout:fixed;word-break:break-all">
         <thead>
            <tr>
              <th>field</th>
              <th>type</th>
              <th>name</th>
              <th>desc</th>
              <th>regexp</th>
              <th>message</th>
              <th>nextListFieldData</th>
            </tr>
          </thead>
          <tbody v-for="(item, index) in data">
            <tr :key="item.name">
                <td>{{ item.field }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.desc }}</td>
                <td>{{ item.regexp }}</td>
                <td>{{ item.message }}</td>
                <td v-if="item.nextListFieldData.length > 0">
                <button class="btn-extend" @click="handleClick(index)"></button>
              </td>
              <td v-else>無</td>
            </tr>
            <tr :key="item.name + '-subtable'" v-if="item.nextListFieldData.length > 0 && displayState[index]">
              <td :colspan="7">
                <sub-table :data="item.nextListFieldData" :display-state="displayState" @handle-click="handleClick(index)" />
              </td>
            </tr>
          </tbody>
        </table>
      `,
            props: ['data', 'display-state'],
            methods: {
                handleClick(index) {
                    this.$emit('handle-click', index);
                },
                randomBackground(randomColorElements) {
                    // 設置淺色系顏色區間
                    const colorGroup = ["#E3F2E9", "#E9E3F2", "#F2F0E3", "#F2E3E4", "#E3F2F0", "#E3E4F2", "#E3ECF2"]
                    randomColorElements.forEach((element) => {
                        const randomColor = colorGroup[Math.floor(Math.random() * 7)];
                        element.style.backgroundColor = randomColor;
                    });
                },
            },
            mounted() {
                const randomColorElements = document.querySelectorAll('.randomColor');
                randomColorElements.forEach((element) => {
                    element.addEventListener('mouseenter', () => { this.randomBackground(randomColorElements) });
                    element.addEventListener('mouseleave', () => {
                        // 將背景顏色重設回原來的狀態
                        element.style.backgroundColor = '';
                    });
                });
            }
        });

        new Vue({
            el: '#app',
            data: {
                selectedAPI: "default",
                APIOptions: [],
                APIData: [],
                displayState: {},
            },
            mounted() {
                this.fetchAPIData();
            },
            watch: {
                selectedAPI(newVal, oldVal) {
                    this.fetchAPIData();
                    // console.log(this.selectedOption)
                }
            },
            methods: {
                fetchAPIData() {
                    axios.get('api.json')
                        .then(response => {
                            this.APIOptions = response.data;
                            if (this.selectedAPI !== "default") {
                                this.APIData = response.data[this.selectedAPI].listFieldData;
                                this.initializeDisplayState(this.APIData);
                            } else {
                                this.APIData = [];
                                this.displayState = {};
                            }
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
                initializeDisplayState(data) {
                    this.displayState = {};
                    data.forEach((item, index) => {
                        this.$set(this.displayState, index, false);
                        if (item.nextListFieldData.length > 0) {
                            this.initializeDisplayState(item.nextListFieldData);
                        }
                    });
                    console.log("this.displayState", this.displayState)
                },
                handleClick(index) {
                    this.$set(this.displayState, index, !this.displayState[index]);
                },
            },
        });
    </script>
</body>

</html>
